<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Início</title>
    <link rel="stylesheet" href="static/pagabriel.css" media="screen">
<link rel="stylesheet" href="static/home-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/home.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">
    
    <link rel="canonical" href="/">
</head>
  <body class="u-body u-xl-mode" data-lang="en">
    <style>
      header {
          max-width: 1140px;
      margin: 0 auto;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
    }

    nav img {
      height: 50px;
      width: auto;
    }
    
    a, u {
      color: inherit;
  text-decoration: none;
}
    
    nav ul {
      display: flex;
      gap: 2rem;
      list-style-type: none;
    }

    nav a {
      cursor: pointer;
    }
    </style>
    
    <header>
    <nav>
      <a>
        <img src="https://media.discordapp.net/attachments/776536471195877376/1124317586566434817/logologo.png"/>
      </a>
      <ul>
        <li>
          <a href="/busca">Busca</a>
        </li>
        <li>
          <a href="/product_list">Produtos</a>
        </li>
        <li>
          <a href="/signin">Login</a>
        </li>
      </ul>
    </nav>
  </header> 
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" id="sec-fbe7" data-image-width="780" data-image-height="438">
      <div class="u-clearfix u-sheet u-valign-bottom-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-35">
                <div class="u-layout-row">
                  <div class="u-align-right u-container-style u-layout-cell u-opacity u-opacity-55 u-palette-5-dark-3 u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <h2 class="u-custom-font u-font-roboto-slab u-text u-text-1">Suas compras todo mês na sua casa!</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-25">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <p class="u-text u-text-2">Com nosso hub de produtos, você pode garantir entregar recorrentes e ter tudo o que precisa, regularmente, sem complicações<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-valign-middle-sm u-section-2" id="carousel_b818">
      <p class="u-text u-text-custom-color-2 u-text-default u-text-1">RECURSOS</p>
      <h3 class="u-text u-text-default-xl u-text-2">Uma forma melhor de fazer compras</h3>
      <p class="u-text u-text-3">Descubra como nosso hub de produtos pode tornar sua vida fácil e econômica</p>
      <img class="u-expanded-width u-image u-image-1" src="static/images/Untitled_design__10_.jpg" data-image-width="1920" data-image-height="1080">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="static/images/click.png" alt=""></span>
              <h4 class="u-text u-text-4">PRATICIDADE</h4>
              <p class="u-text u-text-5">Compras automatizadas e entregas recorrentes diretamente na sua porta</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="static/images/piggy-bank.png" alt=""></span>
              <h4 class="u-text u-text-6">Econômico</h4>
              <p class="u-text u-text-7">Descontos exclusivos em pacotes de assinatura e produtos selecionados</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="static/images/arrows.png" alt=""></span>
              <h4 class="u-text u-text-8">flexibilidade</h4>
              <p class="u-text u-text-9">Ajuste suas preferências de entrega e produtos</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-radius-10 u-repeater-item u-shape-round u-list-item-4">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-text-white u-icon-4"><img src="static/images/product.png" alt=""></span>
              <h4 class="u-text u-text-10">Variedade de produtos</h4>
              <p class="u-text u-text-11">Explore uma extensa gama de categorias, desde alimentos e bebidas até produtos de cuidados pessoais e limpeza doméstica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center-sm u-align-center-xs u-clearfix u-custom-color-1 u-footer" id="sec-1d45"><div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-text u-text-default u-text-1">Recurrency Affordable Price</h4>
                <ul class="u-align-left u-file-icon u-text u-text-2">
                  <li style="padding-left: 4px;"> Receba, Renove, Repita: O Hub de produtos recorrentes que simplifica sua vida</li>
                </ul>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-text u-text-default u-text-3">Empresa</h4>
                <ul class="u-align-left u-file-icon u-text u-text-4">
                  <li style="padding-left: 4px;">Início</li>
                  <li style="padding-left: 4px;">Recursos</li>
                  <li style="padding-left: 4px;">Produtos</li>
                </ul>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-text u-text-default u-text-5">Cliente</h4>
                <ul class="u-align-left u-file-icon u-text u-text-6">
                  <li style="padding-left: 4px;">Área do cliente</li>
                  <li style="padding-left: 4px;">Login</li>
                  <li style="padding-left: 4px;">Cadastro</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
      </div></footer>
  
</body></html>